[package]
name = "flare-ir"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
flare = { path = "../flare" }
thiserror.workspace = true
